@model ParkingLot.Models.Parking

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Parking</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ParkingName" class="control-label" title="Parking Name">Nazwa parkingu</label>
                <input asp-for="ParkingName" class="form-control" title="Parking Name" />
                <span asp-validation-for="ParkingName" class="text-danger" title="Parking Name"></span>
            </div>
            <div class="form-group">
                <label asp-for="AllSpots" class="control-label">Ilość miejsc na parkingu</label>
                <input asp-for="AllSpots" class="form-control" />
                <span asp-validation-for="AllSpots" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumberOfFloors" class="control-label">Ilość pięter na parkingu</label>
                <input asp-for="NumberOfFloors" class="form-control" />
                <span asp-validation-for="NumberOfFloors" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
